body {
  background-image: url("img.jpg");  
}

.intLink { cursor: pointer; }
img.intLink { border: 0; }

#toolBar {
  width: 565px;
  background-color: #5e83ab;
}

#toolBar1 select { font-size:10px; border: 1px solid black;}
#textBox {
  background-color: white;
  width: 540px;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
}

#fileName {
  background-color: white;
  width: 150px;
  height: 20px;
  border: 1px #000000 solid;
  padding: 12px;
}

#fileList {
  background-color: white;
  width: 150px;
  height: 120px;
  border: 1px #000000 solid;
  padding: 12px;
}

#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}


#inform {
  width: 200px;
  background-color: white;
  margin-top: 300px;
  margin-left: 1100px;
}



